.pro-sidebar > .pro-sidebar-inner {
  background: #990d81;
}
.sub-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pro-sidebar {
  height: auto !important;
  min-width: 230px;
  width: 230px;
}

.sidebar-logo {
  padding: 20px 0 5px 0;
  text-align: center;
}
.sidebar-logo img {
  width: 65px;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
  height: 25px;
  margin-right: 2px;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff99;
  text-transform: capitalize;
}
.pro-sidebar
  .pro-menu
  .pro-menu-item.active
  > .pro-inner-item
  > .pro-item-content {
  color: #ffffff;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
  margin: 20px 14px 19px 15px;
  padding: 5px 0;
}

.pro-sidebar .pro-menu .pro-menu-item.active > .pro-inner-item {
  border-right: 3px solid white;
}

.pro-sidebar .pro-menu .pro-menu-item.active > .pro-inner-item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: #ffffff;
}
.sidebar-footer-container {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  gap: 8px;
}
.sidebar-footer-container .img {
  border-radius: 100px;
  width: 55px;
  background-color: #f2e4e47e;
  height: 55px;
}

.sidebar-footer-container .name {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.75px;
  color: #ffffff;
}
.sidebar-footer-container .title {
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.859533px;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
  .pro-sidebar {
    height: 100% !important;
    min-width: 230px;
    width: 230px;
  }
}
